*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
  display: flex;
}

.resource-card {
  border-color: var(--mantine-color-magos-9);
  transition: border-color 150ms ease;
}

.resource-card:hover {
  border-color: var(--mantine-color-magos-5);
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
